1. Import required libraries

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

2. Read the dataset

In [2]:
df = pd.read_csv('Maths.csv')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

3. How many rows the dataset contains?

In [3]:
num_rows = df.shape[0]

print("Number of rows in the dataset:", num_rows)

Number of rows in the dataset: 395

4. Does the dataset contain NaNs?

In [4]:
contains_nans = df.isna().any().any()

if contains_nans:
    print("The dataset contains NaN values.")
else:
    print("The dataset does not contain NaN values.")

The dataset does not contain NaN values.

5. Compare students with parents living apart vs students whose parents live together. Which group consumes more alcohol?

Чи студенти, у яких батьки живуть окремо, споживають більше алкоголю, ніж студенти, у яких батьки живуть разом

In [5]:
walc_average = df['Walc'].mean()
walc_average

2.2911392405063293

In [6]:
filtered_df_T = df[df['Pstatus'] == "T"]
filtered_df_T["Walc"].mean()

2.2937853107344632

In [7]:
df2 = df.groupby('Pstatus')["Walc"].mean()
df2

Pstatus
A    2.268293
T    2.293785
Name: Walc, dtype: float64

6. Do families living in village have more children? Report the difference in %.

Наскільки більше у відсотках сільські сім'ї мають більше дітей?

In [8]:
x = df[df['famsize'] == 'GT3'].groupby(['address'])['age'].count()
y = (x[0] * 100)/x.sum()

z = (x[1] * 100)/x.sum()
z-y

C:\Users\User\AppData\Local\Temp\ipykernel_20180\2680911319.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y = (x[0] * 100)/x.sum()
C:\Users\User\AppData\Local\Temp\ipykernel_20180\2680911319.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  z = (x[1] * 100)/x.sum()

51.60142348754448

7. Does the lack of internet influence the student marks?

Наскільки відсутність інтернету дома впливає на оцінки студента?

In [61]:
students_with_internet = df[df['internet'] == 'yes']
students_without_internet = df[df['internet'] == 'no']
grade_internet = students_with_internet[['G1'] + ['G2'] + ["G3"]].mean()
average_grade_internet = grade_internet[0] + grade_internet[1] + grade_internet[2]
grane_no_internet = students_without_internet[["G1"] + ['G2'] + ['G3']].mean()
average_grade_no_internet = grane_no_internet[0] + grane_no_internet[1] + grane_no_internet[2]
if average_grade_internet > average_grade_no_internet:
    print('Впливає')
else:
    print("Не впливає")

Впливає

C:\Users\User\AppData\Local\Temp\ipykernel_20180\2025934596.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  average_grade_internet = grade_internet[0] + grade_internet[1] + grade_internet[2]
C:\Users\User\AppData\Local\Temp\ipykernel_20180\2025934596.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  average_grade_no_internet = grane_no_internet[0] + grane_no_internet[1] + grane_no_internet[2]

8. Does alcohol consumption during weekends influence the absence at lessons?

Наскільки вживання алкоголю по вихідним впливає на пропуски занять?

In [10]:
absend = df['Walc'].corr(df['absences'])
absend

0.136291101479951

9. Compare students whose parents work at health vs others. Does the level of alcohol comsumptions at weekdays differ for those 2 groups?

Чи відрізняється показник вживання алкоголю по буднях у студентів, у яких батько або мати працюють у сфері охорони здоров'я порівняно з іншими студентами?

In [20]:
filtered_df_nursery = df[df['nursery'] == "yes"]
filtered_df_no_nursery = df[df['nursery'] == "no"]

group1 = filtered_df_nursery["Dalc"].mean()
group2 = filtered_df_no_nursery["Dalc"].mean()

if group1 > group2:
    print('Показник вживання алкоголю у студентів з батьками-медиками більший')
elif group1 < group2:
    print('Показник вживання алкоголю у студентів без батьків-медиків більший')
else:
    print("Показники однакові")

Показник вживання алкоголю у студентів без батьків-медиків більший

10. Compare students living in village vs city. Which group of students miss more lessons?

Яка група студентів більше пропускає занять: ті, які живуть у місті, чи в селах?

In [24]:
urban_students = df[df['address'] == 'U']
village_students = df[df['address'] == 'R']

missed_urban = urban_students['absences'].mean()
missed_village = village_students['absences'].mean()

if missed_urban > missed_village:
    print('Студенти з міст пропускають більше занять')
elif missed_village > missed_urban:
    print('Студенти із селищ пропускають більше занять')
else:
    print("Показники однакові")

Студенти із селищ пропускають більше занять

11. What is the % of students with max level of health does extra-curricular activities?

Який відсоток студентів, які мають максимальну оцінку здоров'я, відвідують позапланові заходи?

In [43]:
max_health_students = df[df['health'] == 5]
total_max_health = len(max_health_students)

students_with_max_health_and_activities = max_health_students[max_health_students['activities'] == 'yes']
percentage = (len(students_with_max_health_and_activities) / total_max_health) * 100
print(f'{percentage:.2f}%')

52.74%

12. Consider a group of families with 3 and more children vs a group of all other students. Which group has better family relationship?

Які сім'ї мають кращі стосунки у сім'ї: багатодітні (3 і більше дітей) чи з 1-2 дітьми?

In [44]:
large_families = df[df['famsize'] == 'GT3']
small_families = df[df['famsize'] == 'LE3']

tog_large = large_families[large_families['Pstatus'] == "T"].count()
tog_small = small_families[small_families['Pstatus'] == "T"].count()

if tog_large[0] > tog_small[0]:
    print('Кращі стосунки у багатодітній сім\'Ї')
elif tog_small[0] > tog_large[0]:
    print("Кращі стосунки у малодітній сім\'ї")
else:
    print("Показники однакові")

Кращі стосунки у багатодітній сім'Ї

C:\Users\User\AppData\Local\Temp\ipykernel_20180\2418951333.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if tog_large[0] > tog_small[0]:

13. Report the % of students with family relationship <= 2 that do not want to take higher education.

Який відсоток студентів з сімейними стосунками <= 2 не хочуть отримувати вищу освіту в майбутньому?

In [45]:
low_famrel = df[df['famrel'] <= 2]

no_higher_percentage = (len(low_famrel[low_famrel['higher'] == 'no']) / len(low_famrel)) * 100
print(f"Відсоток студентів із сімейними стосунками <= 2, які не хочуть отримувати вищу освіту: {no_higher_percentage:.2f}%")

Відсоток студентів із сімейними стосунками <= 2, які не хочуть отримувати вищу освіту: 3.85%

14. Report the % of students who consume more than average amount of alcohol going out with friends the most?

Який відсоток студентів, які споживають взагальному(і по буднях і по вікендах) алкоголю більше середнього, гуляють з друзями найбільше?

In [49]:
alcconsump = df['Dalc'].mean() + df['Walc'].mean()
above_alcconsump = df[df['Dalc'] + df["Walc"] > alcconsump]
percentage = (len(above_alcconsump[above_alcconsump['goout'] == 5]) / len(above_alcconsump)) * 100
print(f"Відсоток студентів, які споживають більше алкоголю ніж середнє і найчастіше виходять з друзями: {percentage:.2f}%")

Відсоток студентів, які споживають більше алкоголю ніж середнє і найчастіше виходять з друзями: 21.79%

15. Come up with 3 more questions and provide solutions for them.

Придумайте своїх 3 запитання і напишіть для них розв'язок.

##### 15.1 Скільки в середньому пропусків у студентів, які багато відпочивають?

In [50]:
max_free = df[df['freetime'] == 5]
average_missed = max_free['absences'].mean()
print(f"Середня кількість пропущених занять у студентів, які багато відпочивають: {average_missed:.2f}")

Середня кількість пропущених уроків у студентів, які багато відпочивають: 6.35

##### 15.2 У скількох студентів максимальне здоров'я, які вживають максимум алкоголю по вихідним

In [51]:
healthy = df[df['health'] == 5]
max_walc = healthy[healthy['Walc'] == 5]

count = len(max_walc)
print(f"Кількість студентів з максимальним здоров'ям, які вживають максимальну кількість алкоголю по вихідних: {count}")

Кількість студентів з максимальним здоров'ям, які вживають максимальну кількість алкоголю по вихідних: 11

15.3 Чи подобається в загальному гуляти студентам, у яких є інтернет?

In [53]:
students_with_internet = df[df['internet'] == 'yes']
average_goout = students_with_internet['goout'].mean()

if average_goout > 3:
    print("Подобається")
elif average_goout < 3:
    print("Не подобається")
else:
    print("50/50")

Подобається